@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
    background-color: #f0fdf4;
}

.gradient-bg {
    background: linear-gradient(135deg, #44e980 0%, #059669 100%);
}

.card-hover:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 25px -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.04);
}

.amazon-color {
    color: #FF9900;
}

.takealot-color {
    color: #0C6CE9;
}

.amazon-bg {
    background-color: #FF9900;
}

.takealot-bg {
    background-color: #0C6CE9;
}

.accent-color {
    color: #16a34a;
}

.accent-bg {
    background-color: #16a34a;
}